:root {
  --primary-bg-color: peachpuff;
  --primary-text-color: #333;
  --button-bg-color: #007bff;
  --button-text-color: #fff;
  --border-color: #333;
}

.dark-theme {
  --primary-bg-color: #333;
  --primary-text-color: #fff;
  --button-bg-color: #fff;
  --button-text-color: #333;
  --border-color: #ddd;
}


body
{
  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.App
{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 10rem;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--primary-bg-color);
}

.SubmitForm
{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.InputField
{
  width: auto;
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 2px  ;
}
.SubmitButton
{
  margin-top: 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}
/* Style the TodoTable */
.TodoTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style the table header */
.TodoTable th {
  color: var(--primary-text-color);
  text-align: auto;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

/* Style the table rows */
.TodoItem {
  border: 1px solid var(--border-color);
  color:var(--primary-text-color)
}

/* Style the Task column */
.TodoItem td:nth-child(1) {
  padding: 10px;
}

/* Style the Action column */
.TodoItem td:nth-child(2) {
  padding: 10px;
  text-align: center;
}

/* Style the buttons */
.TodoItem button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  transition: background-color 0.3s;
}

.TodoItem button:hover {
  background-color: #0056b3;
}
